/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
h2 + .shadow {
  float: left;
  width: 62%;
  padding: 0 40 0px;
  margin: 0 10 10 0;
}

#aside {
  float: right;
  width: 32%;
  padding-left: : 5px;
  margin-left: 10px;
}
