/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
h2 + .shadow {
  float: left;
  width: 62%;
  margin: 0 0 10px;
  max-width: 100%;
  padding: 20px;
}

.archive h2 h3 *{
  float: right;
  width: 25%;
  padding: 20px;
  margin: 10px solid #000;
  border: 10px solid #000;
  max-width: 100%;
}
