/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
h2 + .shadow {
  float: left;
  width: 64%;
  margin: 0 5px 0 0;
  background: pink;
  border-spacing: 10px;
}

#aside {
  float: right;
  width: 32%;
  margin: 0 0 5px 0;
  background: pink;
}
[class*="col-"] {
  border: 2%;
}
